// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.


//Font overrides
html, body {
  font-family: 'Manrope' !important;
}
h1, h2, h3, h4, h5, h6, span, a, p, li {
  font-family: 'Manrope'!important;
}

[dir="rtl"],
[lang="ar"] {
   h1, h2, h3, h4, h5, h6, span, a, p, li {
        font-family: 'Noto Sans Arabic' !important;
    }
}
button,
input,
textarea,
select {
  font-family: inherit !important;
}

h3, .h3 {
font-family: Manrope;
font-weight: 800 !important;
font-style: ExtraBold;
font-size: 35px !important;
line-height: 48.5px !important;
letter-spacing: 0%;
color: #0A2940 !important
}

// Dashboard MFE button 

.btn-primary {
    background-color: #0a3055;
    border-color: #0a3055;
    color: #fff;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 0 !important;
}

// Footer Padding

.custom-footer .footer-inner {
padding: 0 30px;
}

// Learning MFE navigation buttons
.unit-navigation .next-button:hover,
.unit-navigation .previous-button:hover {
    background: #326A73 !important;
}

